@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");
* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, white 50%, #383838 50%);
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

div {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  width: calc(100% - #{4rem});
  margin: 0 auto;
}

aside {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
}
 aside img {
    display: block;
    height: auto;
    width: 100%;
  }
main {
  text-align: center;
}
main h1 {
    font-family: 'Rubik', sans-serif, cursive;
    font-size: 4rem;
    color: #c5dc50;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2.5rem;
  }
  button {
    font-family: 'Rubik', sans-serif, cursive;
    font-size: 1rem;
    color: #383838;
    border: none;
    background-color:#f36a6f;
    padding: 1rem, 2.5rem;
    transition: all 0.1s ease;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"),
      auto;
  }
 button:hover {
      background-color: #c5dc50;
      transform: scale(1.15);
    }

@media (max-width: 700px) {
  body {
    background:#383838;
    font-size: 16px;
  }
  div {
    flex-flow: column;
  }
  aside {
    background-image: none;
    background-color: white;
    img {
      max-width: 300px;
    }
  }
}
button a{
    font-size: 120%;
    text-decoration: none;
}
footer h2{
    font-size: 350%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: black;
    text-align: center;
}
footer h3 {
font-size: 200%;
font-family: 'Rubik', sans-serif;
font-weight: lighter;
color: black;
text-align: center;
}